<p>header works!</p>
<header>
    <div class="navbar">
        <div class="nav-logo border">
            <div class="logo"></div>
        </div>

        <div class="nav-address border">

            <p class="address-first">Deliver to</p>
            <div class="add-icon">
                <i style="color: white;" class="fa-solid fa-location-dot"></i>
                <p class="second-address">India</p>
            </div>
        </div>
        <div class="nav-search border">
            <select class="search-select">
                <option>All</option>
                <option>clothes</option>
                <option>toys</option>
            </select>
            <input type="text" placeholder="Search Amazom Items" class="search-input">
            <div class="search-icon">
                <i style="color: white;" class="fa-solid fa-magnifying-glass"></i>
            </div>

        </div>
        <div class="help-Section border">
            <span>Hello,sign in</span>
            <p class="Account-Section">Account & Lists<select class="options">
                    <option></option>
                </select></p>
        </div>

        <div class="help-Section border">
            <span>Returns</span>
            <p class="Account-Section">& Orders</p>
        </div>

        <div class="cart-section ">
            <i class="fa-solid fa-cart-plus"></i>
            <p class="cart">cart</p>
            <div class="cart-count">
                <span class="count">0</span>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-all">
            <i class="fa-solid fa-bars"></i>
            All
        </div>
        <div class="panel-options">

            <p>Today's Deals</p>
            <p>Customer Service</p>
            <p>Registry</p>
            <p>Gift Cards</p>
            <p>Sell</p>
            <p>Amazon Pay</p>
        </div>
        <div class="panel-deals">
            shop deals in electroincs
        </div>
    </div>
</header>
