<p>footersection works!</p>
<footer>
    <div class="footer-address-first">
        <p>Back to Top</p>
    </div>
    <div class="footer-address-second">
        <div class="navAccessibility">
            <ul>
                <li>
                    <div>Get to Know Us</div>
                </li>
                <li>
                    <a>Careers</a>
                </li>
                <li>
                    <a>Blog</a>
                </li>
                <li>
                    <a>About Amazon</a>
                </li>
                <li>
                    <a>Investor Relations</a>
                </li>
                <li>
                    <a>Amazon Devices</a>
                </li>
            </ul>
            <ul>
                <li>

                    <div> Get to Know Us</div>

                </li>
                <li>
                    <a>Careers</a>
                </li>
                <li>
                    <a>Blog</a>
                </li>
                <li>
                    <a>About Amazon</a>
                </li>
                <li>
                    <a>Investor Relations</a>
                </li>
                <li>
                    <a>Amazon Devices</a>
                </li>
            </ul>
            <ul>
                <li>

                    <div> Get to Know Us</div>

                </li>
                <li>
                    <a>Careers</a>
                </li>
                <li>
                    <a>Blog</a>
                </li>
                <li>
                    <a>About Amazon</a>
                </li>
                <li>
                    <a>Investor Relations</a>
                </li>
                <li>
                    <a>Amazon Devices</a>
                </li>
            </ul>
            <ul>
                <li>

                    <div> Get to Know Us</div>

                </li>
                <li>
                    <a>Careers</a>
                </li>
                <li>
                    <a>Blog</a>
                </li>
                <li>
                    <a>About Amazon</a>
                </li>
                <li>
                    <a>Investor Relations</a>
                </li>
                <li>
                    <a>Amazon Devices</a>
                </li>
            </ul>
            <ul>
                <li>

                    <div> Get to Know Us</div>

                </li>
                <li>
                    <a>Careers</a>
                </li>
                <li>
                    <a>Blog</a>
                </li>
                <li>
                    <a>About Amazon</a>
                </li>
                <li>
                    <a>Investor Relations</a>
                </li>
                <li>
                    <a>Amazon Devices</a>
                </li>
            </ul>
        </div>
    </div>
</footer>