<header>
    <div class="navbar">
        <div class="nav-logo border">
            <div class="logo"></div>
        </div>

        <div class="nav-address border">

            <p class="address-first">Deliver to</p>
            <div class="add-icon">
                <i style="color: white;" class="fa-solid fa-location-dot"></i>
                <p class="second-address">India</p>
            </div>
        </div>
        <div class="nav-search border">
            <select class="search-select">
                <option>All</option>
                <option>clothes</option>
                <option>toys</option>
            </select>
            <input type="text" placeholder="Search Amazom Items" class="search-input">
            <div class="search-icon">
                <i style="color: white;" class="fa-solid fa-magnifying-glass"></i>
            </div>

        </div>
        <div class="help-Section border">
            <span>Hello,sign in</span>
            <p class="Account-Section">Account & Lists<select class="options">
                    <option></option>
                </select></p>
        </div>

        <div class="help-Section border">
            <span>Returns</span>
            <p class="Account-Section">& Orders</p>
        </div>

        <div class="cart-section ">
            <i class="fa-solid fa-cart-plus"></i>
            <p class="cart">cart</p>
            <div class="cart-count">
                <span class="count">0</span>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-all">
            <i class="fa-solid fa-bars"></i>
            All
        </div>
        <div class="panel-options">

            <p>Today's Deals</p>
            <p>Customer Service</p>
            <p>Registry</p>
            <p>Gift Cards</p>
            <p>Sell</p>
            <p>Amazon Pay</p>
        </div>
        <div class="panel-deals">
            shop deals in electroincs
        </div>
    </div>
</header>
<div class="hero-section">
    <div class="hero-section-text">
        <p>You are on amazon.com. You can also shop on Amazon India for millions of products with fast local delivery.
            <a href="goggle.com"> here to go to amazon.in</a>
        </p>

    </div>
</div>
<div class="shop-section">
    <div class="shop-Section-per-box">
        <h1>Get Your Game</h1>
        <div class="box-images1 content-margin"></div>
        <div class="see-more">see more</div>
    </div>
    <div class="shop-Section-per-box">
        <h1>Get Your Game</h1>
        <div class="box-images1 content-margin"></div>
        <div class="see-more">see more</div>
    </div>
    <div class="shop-Section-per-box">
        <h1>Get Your Game</h1>
        <div class="box-images1 content-margin"></div>
      <div class="see-more">see more</div>
    </div>
    <div class="shop-Section-per-box">
        <h1>Get Your Game</h1>
        <div class="box-images1 content-margin"></div>
        <div class="see-more">see more</div>
    </div>
    <div class="shop-Section-per-box">
        <h1>Get Your Game</h1>
        <div class="box-images1 content-margin"></div>
        <div class="see-more">see more</div>
    </div>
    <div class="shop-Section-per-box">
        <h1>Top categories in Kitchen appliances</h1>
        <div class="content content-margin"></div>
    </div>
    <div class="shop-Section-per-box">
        <h1>Shop for your home essentials</h1>
        <div class="content content-margin">1</div>


    </div>
    <div class="shop-Section-per-box">
        <h1>Shop Fashion for less</h1>
        <div class="content content-margin"></div>
    </div>
</div>
<footer>
    <div class="footer-address-first">
        <p>Back to Top</p>
    </div>
    <div class="footer-address-second">
        <div class="navAccessibility">
            <ul>
                <li>
                    <div>Get to Know Us</div>
                </li>
                <li>
                    <a>Careers</a>
                </li>
                <li>
                    <a>Blog</a>
                </li>
                <li>
                    <a>About Amazon</a>
                </li>
                <li>
                    <a>Investor Relations</a>
                </li>
                <li>
                    <a>Amazon Devices</a>
                </li>
            </ul>
            <ul>
                <li>

                    <div> Get to Know Us</div>

                </li>
                <li>
                    <a>Careers</a>
                </li>
                <li>
                    <a>Blog</a>
                </li>
                <li>
                    <a>About Amazon</a>
                </li>
                <li>
                    <a>Investor Relations</a>
                </li>
                <li>
                    <a>Amazon Devices</a>
                </li>
            </ul>
            <ul>
                <li>

                    <div> Get to Know Us</div>

                </li>
                <li>
                    <a>Careers</a>
                </li>
                <li>
                    <a>Blog</a>
                </li>
                <li>
                    <a>About Amazon</a>
                </li>
                <li>
                    <a>Investor Relations</a>
                </li>
                <li>
                    <a>Amazon Devices</a>
                </li>
            </ul>
            <ul>
                <li>

                    <div> Get to Know Us</div>

                </li>
                <li>
                    <a>Careers</a>
                </li>
                <li>
                    <a>Blog</a>
                </li>
                <li>
                    <a>About Amazon</a>
                </li>
                <li>
                    <a>Investor Relations</a>
                </li>
                <li>
                    <a>Amazon Devices</a>
                </li>
            </ul>
            <ul>
                <li>

                    <div> Get to Know Us</div>

                </li>
                <li>
                    <a>Careers</a>
                </li>
                <li>
                    <a>Blog</a>
                </li>
                <li>
                    <a>About Amazon</a>
                </li>
                <li>
                    <a>Investor Relations</a>
                </li>
                <li>
                    <a>Amazon Devices</a>
                </li>
            </ul>
        </div>
    </div>
</footer>