<p>herosection works!</p>
<div class="hero-section">
    <div class="hero-section-text">
        <p>You are on amazon.com. You can also shop on Amazon India for millions of products with fast local delivery.
            <a href="goggle.com"> here to go to amazon.in</a>
        </p>

    </div>
</div>
<div class="shop-section">
    <div class="shop-Section-per-box">
        <h1>Get Your Game</h1>
        <div class="box-images1 content-margin"></div>
        <div class="see-more">see more</div>
    </div>
    <div class="shop-Section-per-box">
        <h1>Get Your Game</h1>
        <div class="box-images1 content-margin"></div>
        <div class="see-more">see more</div>
    </div>
    <div class="shop-Section-per-box">
        <h1>Get Your Game</h1>
        <div class="box-images1 content-margin"></div>
      <div class="see-more">see more</div>
    </div>
    <div class="shop-Section-per-box">
        <h1>Get Your Game</h1>
        <div class="box-images1 content-margin"></div>
        <div class="see-more">see more</div>
    </div>
    <div class="shop-Section-per-box">
        <h1>Get Your Game</h1>
        <div class="box-images1 content-margin"></div>
        <div class="see-more">see more</div>
    </div>
    <div class="shop-Section-per-box">
        <h1>Top categories in Kitchen appliances</h1>
        <div class="content content-margin"></div>
    </div>
    <div class="shop-Section-per-box">
        <h1>Shop for your home essentials</h1>
        <div class="content content-margin">1</div>


    </div>
    <div class="shop-Section-per-box">
        <h1>Shop Fashion for less</h1>
        <div class="content content-margin"></div>
    </div>
</div>
